<div class="container">
  <h1 class="text-center">PRODUCTOS</h1>
  <ul class="list-group">
    {{#if products}}
      {{#each products}}
        <li class="list-group-item text-center border border-success"><p>{{this.title}} : $ {{this.price}}</p></li>
      {{/each}}
    {{else}}
      <ul>
        <li>No hay productos para mostrar</li>
      </ul>
    {{/if}}
  </ul>
</div>