<section class="bg-gray-500">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Ingresa tus datos
        </h1>
        <form class="space-y-4 md:space-y-6" id="loginForm">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Tu email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="correo@correo.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <div class="flex items-center justify-between">
            <a
              href="#"
              class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
            >Olvidaste tu contraseña?</a>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            id="btnLogin"
          >Ingresar</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            No tienes cuenta aun?
            <a
              href="#"
              id="registerLink"
              class="font-medium text-blue-600 hover:underline dark:text-blue-500"
            >Registrate</a>
          </p>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Olvidaste tu contraseña?
            <a
              href="#"
              id="recuperarLink"
              class="font-medium text-blue-600 hover:underline dark:text-blue-500"
            >Recuperar</a>
          </p>
          <hr style="border: none; border-top: 1px solid white; width: 100%;">
          <div class="px-6 sm:px-0 max-w-sm">
            <a href="/api/session/github">
              <button
                type="button"
                class="text-white w-full bg-black hover:bg-black/90 focus:ring-4 focus:outline-none focus:ring-black/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center dark:focus:ring-black/55 mr-2 mb-2"
              >
                <svg
                  class="mr-2 -ml-1 w-4 h-4"
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38v-1.33C3.84 14.6 3.5 13.2 3.5 13.2c-.47-1.17-1.16-1.48-1.16-1.48-1-.68.08-.67.08-.67 1.11.08 1.69 1.14 1.69 1.14.98 1.68 2.57 1.19 3.2.91.1-.71.38-1.19.69-1.46-2.42-.27-4.96-1.21-4.96-5.39 0-1.19.43-2.16 1.14-2.92-.11-.27-.5-1.38.11-2.87 0 0 .91-.29 2.98 1.11A10.57 10.57 0 018 4.34c.83.01 1.67.11 2.48.32 2.07-1.4 2.98-1.11 2.98-1.11.61 1.49.22 2.6.11 2.87.71.76 1.14 1.73 1.14 2.92 0 4.18-2.55 5.12-4.98 5.38.39.34.74 1.01.74 2.03v3.01c0 .22.15.46.56.38A8.02 8.02 0 0016 8c0-4.42-3.58-8-8-8z"
                  ></path>
                </svg>
                <span class="mx-auto">Ingresa con GitHub</span>
              </button>
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<script src="js/login.js"></script>