<div class="container">
  <h1 class="text-center">PRODUCTOS</h1>
  <ul class="list-group" id="listProducts">

  </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

