<h1>Escribe tu nueva contraseña</h1>

<form id="restorePasswordForm">
    <input name="email" placeholder="email">
    <input name="password" placeholder="Nueva contraseña">
    <button id="submitter" type="submit">Enviar</button>
</form>
<p id="message"></p>
<script src="/js/restorePassword.js"></script>