  <div class="bienvenida">
    <h1 class="ml14">
      <span class="text-wrapper">
        <span class="letters">Bienvenid@ {{name}}!</span>
        <span class="line"></span>
      </span>
    </h1>
  </div>

 <script src="js/wcLogin.js"></script>